{% extends "../base.html" %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% load static %}
{% block content %}
<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-breadcrumb">
                    <h2>Reset Your Password through Email<span>.</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Contact Section Begin -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="#" class="contact-form" novalidate method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% if messages %}
                        <div class="col-lg-12 py-2">
                            {% include '../message.html' %}
                        </div>
                        {% endif %}
                        <div class="col-lg-12 py-2">
                            <input name="email" type="email" placeholder="Enter Your Email">
                            {{form.email.errors}}
                        </div>
                        <div class="col-lg-12 text-center">
                            <button class="btn-block" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section End -->

{% include "footer.html" %} 
{% endblock content %}