{% extends "../base.html" %}
{% load static %}
{% block title %}Passwor Reset Done{% endblock title %}
{% load static %}
{% block content %}
<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-breadcrumb">
                    <h2>Please Check Your Email......</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

{% include "footer.html" %} 
{% endblock content %}